In [1]:
import pandas as pd

In [2]:
# 2018 csvs
jan2018 = pd.read_csv('bike_csvs/JC-201801-citibike-tripdata.csv')
feb2018 = pd.read_csv('bike_csvs/JC-201802-citibike-tripdata.csv')
mar2018 = pd.read_csv('bike_csvs/JC-201803-citibike-tripdata.csv')
apr2018 = pd.read_csv('bike_csvs/JC-201804-citibike-tripdata.csv')
may2018 = pd.read_csv('bike_csvs/JC-201805-citibike-tripdata.csv')
jun2018 = pd.read_csv('bike_csvs/JC-201806-citibike-tripdata.csv')
jul2018 = pd.read_csv('bike_csvs/JC-201807-citibike-tripdata.csv')
aug2018 = pd.read_csv('bike_csvs/JC-201808-citibike-tripdata.csv')
sep2018 = pd.read_csv('bike_csvs/JC-201809-citibike-tripdata.csv')
oct2018 = pd.read_csv('bike_csvs/JC-201810-citibike-tripdata.csv')
nov2018 = pd.read_csv('bike_csvs/JC-201811-citibike-tripdata.csv')
dec2018 = pd.read_csv('bike_csvs/JC-201812-citibike-tripdata.csv')

In [3]:
data2018 = pd.concat([jan2018, feb2018, mar2018, apr2018, may2018, jun2018, jul2018, aug2018, sep2018, oct2018, nov2018, dec2018]).reset_index(drop=True)
print(data2018.shape)
print(data2018.columns)
data2018.sample(5)

(353892, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
244179,858,2018-09-30 15:03:02.3140,2018-09-30 15:17:20.3660,3198,Heights Elevator,40.748716,-74.040443,3211,Newark Ave,40.721525,-74.046305,29641,Subscriber,1990,1
194875,175,2018-08-26 01:50:35.4920,2018-08-26 01:53:31.2760,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,29258,Subscriber,1952,1
101925,910,2018-05-18 17:37:54.6450,2018-05-18 17:53:05.6320,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,33680,Customer,1955,1
231646,5277,2018-09-16 16:10:00.1870,2018-09-16 17:37:57.6020,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,29288,Customer,1969,0
115148,689,2018-06-08 15:30:01.8250,2018-06-08 15:41:31.3450,3195,Sip Ave,40.730743,-74.063784,3191,Union St,40.718211,-74.083639,26305,Subscriber,1983,1

In [4]:
# 2019 csvs
jan2019 = pd.read_csv('bike_csvs/JC-201901-citibike-tripdata.csv')
feb2019 = pd.read_csv('bike_csvs/JC-201902-citibike-tripdata.csv')
mar2019 = pd.read_csv('bike_csvs/JC-201903-citibike-tripdata.csv')
apr2019 = pd.read_csv('bike_csvs/JC-201904-citibike-tripdata.csv')
may2019 = pd.read_csv('bike_csvs/JC-201905-citibike-tripdata.csv')
jun2019 = pd.read_csv('bike_csvs/JC-201906-citibike-tripdata.csv')
jul2019 = pd.read_csv('bike_csvs/JC-201907-citibike-tripdata.csv')
aug2019 = pd.read_csv('bike_csvs/JC-201908-citibike-tripdata.csv')
sep2019 = pd.read_csv('bike_csvs/JC-201909-citibike-tripdata.csv')
oct2019 = pd.read_csv('bike_csvs/JC-201910-citibike-tripdata.csv')
nov2019 = pd.read_csv('bike_csvs/JC-201911-citibike-tripdata.csv')
dec2019 = pd.read_csv('bike_csvs/JC-201912-citibike-tripdata.csv')

In [5]:
data2019 = pd.concat([jan2019, feb2019, mar2019, apr2019, may2019, jun2019, jul2019, aug2019, sep2019, oct2019, nov2019, dec2019]).reset_index(drop=True)
print(data2019.shape)
print(data2019.columns)
data2019.sample(5)

(404947, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
361571,1838,2019-11-06 16:00:12.0280,2019-11-06 16:30:50.9530,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26227,Subscriber,1959,1
253239,806,2019-08-25 22:14:30.2180,2019-08-25 22:27:56.4430,3186,Grove St PATH,40.719586,-74.043117,3277,Communipaw & Berry Lane,40.714358,-74.066611,29223,Subscriber,1988,1
105726,538,2019-05-09 22:48:36.5820,2019-05-09 22:57:34.7750,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29282,Subscriber,1987,1
154081,236,2019-06-18 19:53:01.0250,2019-06-18 19:56:57.5230,3186,Grove St PATH,40.719586,-74.043117,3278,Monmouth and 6th,40.725685,-74.048790,26286,Subscriber,1956,1
13833,196,2019-01-30 10:01:27.7840,2019-01-30 10:04:44.7020,3270,Jersey & 6th St,40.725289,-74.045572,3186,Grove St PATH,40.719586,-74.043117,26239,Subscriber,1981,2

In [6]:
# 2020 csvs
jan2020 = pd.read_csv('bike_csvs/JC-202001-citibike-tripdata.csv')
feb2020 = pd.read_csv('bike_csvs/JC-202002-citibike-tripdata.csv')
mar2020 = pd.read_csv('bike_csvs/JC-202003-citibike-tripdata.csv')
apr2020 = pd.read_csv('bike_csvs/JC-202004-citibike-tripdata.csv')
may2020 = pd.read_csv('bike_csvs/JC-202005-citibike-tripdata.csv')
jun2020 = pd.read_csv('bike_csvs/JC-202006-citibike-tripdata.csv')
jul2020 = pd.read_csv('bike_csvs/JC-202007-citibike-tripdata.csv')
aug2020 = pd.read_csv('bike_csvs/JC-202008-citibike-tripdata.csv')
sep2020 = pd.read_csv('bike_csvs/JC-202009-citibike-tripdata.csv')
oct2020 = pd.read_csv('bike_csvs/JC-202010-citibike-tripdata.csv')
nov2020 = pd.read_csv('bike_csvs/JC-202011-citibike-tripdata.csv')
dec2020 = pd.read_csv('bike_csvs/JC-202012-citibike-tripdata.csv')

In [7]:
data2020 = pd.concat([jan2020, feb2020, mar2020, apr2020, may2020, jun2020, jul2020, aug2020, sep2020, oct2020, nov2020, dec2020]).reset_index(drop=True)
print(data2020.shape)
print(data2020.columns)
data2020.sample(5)

(336802, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
72901,243,2020-04-20 15:24:36.1620,2020-04-20 15:28:40.0400,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,42495,Subscriber,1956,1
118896,579,2020-06-16 14:44:36.9590,2020-06-16 14:54:16.0400,3273,Manila & 1st,40.721651,-74.042884,3199,Newport Pkwy,40.728745,-74.032108,42379,Subscriber,1989,2
216365,5357,2020-08-29 17:44:35.3060,2020-08-29 19:13:52.6500,3192,Liberty Light Rail,40.711242,-74.055701,3694,Jackson Square,40.711130,-74.078900,41696,Customer,1993,2
284107,527,2020-10-09 19:03:15.0220,2020-10-09 19:12:02.3680,3269,Brunswick & 6th,40.726012,-74.050389,3205,JC Medical Center,40.716540,-74.049638,42342,Customer,1987,2
5622,262,2020-01-08 15:05:07.4560,2020-01-08 15:09:29.8140,3638,Washington St,40.724294,-74.035483,3199,Newport Pkwy,40.728745,-74.032108,26152,Subscriber,1976,2

In [8]:
# 2021 csvs
jan2021 = pd.read_csv('bike_csvs/JC-202101-citibike-tripdata.csv')
feb2021 = pd.read_csv('bike_csvs/JC-202102-citibike-tripdata.csv')
mar2021 = pd.read_csv('bike_csvs/JC-202103-citibike-tripdata.csv')

In [9]:
data2021 = pd.concat([jan2021, feb2021, mar2021]).reset_index(drop=True)
print(data2021.shape)
print(data2021.columns)
data2021.sample(5)

(33192, 15)
Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
21582,275,2021-03-12 23:26:37.5150,2021-03-12 23:31:12.9970,3681,Grand St,40.715178,-74.037683,3186,Grove St PATH,40.719586,-74.043117,45543,Subscriber,1980,1
20231,339,2021-03-11 10:26:59.6990,2021-03-11 10:32:39.5300,3199,Newport Pkwy,40.728745,-74.032108,3275,Columbus Drive,40.718355,-74.038914,16423,Customer,1970,0
25906,7458,2021-03-21 16:39:44.6430,2021-03-21 18:44:03.4970,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3276,Marin Light Rail,40.714584,-74.042817,43544,Customer,1970,0
27887,178,2021-03-23 22:12:27.1310,2021-03-23 22:15:25.9450,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,29983,Customer,1970,0
13246,366,2021-02-14 23:15:14.6530,2021-02-14 23:21:21.5040,3225,Baldwin at Montgomery,40.723659,-74.064194,3195,Sip Ave,40.730897,-74.063913,30007,Customer,1970,0

In [10]:
data18to21 = pd.concat([data2018, data2019, data2020, data2021]).reset_index(drop=True)
data18to21.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
534359,203,2019-07-08 18:08:25.0190,2019-07-08 18:11:48.2730,3220,5 Corners Library,40.734961,-74.059503,3206,Hilltop,40.731169,-74.057574,29205,Subscriber,1978,1
1053466,255,2020-10-20 20:13:54.2830,2020-10-20 20:18:10.2250,3638,Washington St,40.724294,-74.035483,3199,Newport Pkwy,40.728745,-74.032108,20748,Subscriber,1970,1
550654,298,2019-07-19 17:11:56.8540,2019-07-19 17:16:55.5990,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,29299,Subscriber,1992,1
692977,527,2019-10-19 19:24:16.6600,2019-10-19 19:33:04.2560,3639,Harborside,40.719252,-74.034234,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1986,1
990696,2213,2020-09-09 14:39:56.6780,2020-09-09 15:16:50.4960,3268,Lafayette Park,40.713464,-74.062859,3268,Lafayette Park,40.713464,-74.062859,42157,Customer,1992,1

In [11]:
# investigating whether there are suspicious data points
data18to21['birth year'].unique()

array([1992, 1969, 1946, 1994, 1991, 1982, 1958, 1989, 1960, 1976, 1985,
       1974, 1968, 1988, 1990, 1980, 1995, 1981, 1978, 1983, 1966, 1965,
       1986, 1971, 1954, 1993, 1970, 1984, 1987, 1975, 1964, 1962, 1955,
       1963, 1999, 1957, 1956, 1972, 1973, 1941, 1952, 1977, 1967, 1961,
       1959, 1979, 1949, 1998, 1931, 1997, 1887, 1950, 1953, 1947, 1996,
       1948, 1951, 1888, 2002, 2000, 2001, 1944, 1942, 1945, 1940, 1900,
       1939, 1943, 1904, 2003, 1918, 1889, 1905, 1901, 1938, 2004, 1920,
       1930, 1933])

In [12]:
# filtering out dobs that would make the user greater than 90 years old
d1821 = data18to21[data18to21['birth year'] >= 1931]
print(d1821['birth year'].unique())
d1821.sample(5)

[1992 1969 1946 1994 1991 1982 1958 1989 1960 1976 1985 1974 1968 1988
 1990 1980 1995 1981 1978 1983 1966 1965 1986 1971 1954 1993 1970 1984
 1987 1975 1964 1962 1955 1963 1999 1957 1956 1972 1973 1941 1952 1977
 1967 1961 1959 1979 1949 1998 1931 1997 1950 1953 1947 1996 1948 1951
 2002 2000 2001 1944 1942 1945 1940 1939 1943 2003 1938 2004 1933]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1125929,848,2021-03-27 16:59:02.4340,2021-03-27 17:13:10.4390,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,48932,Customer,1970,0
1045444,644,2020-10-11 19:32:34.4420,2020-10-11 19:43:18.4500,3205,JC Medical Center,40.716540,-74.049638,3639,Harborside,40.719252,-74.034234,44376,Subscriber,1990,2
863832,1759,2020-06-05 18:59:03.3340,2020-06-05 19:28:22.9830,3201,Dey St,40.737711,-74.066921,3201,Dey St,40.737711,-74.066921,42543,Customer,1969,0
293984,510,2018-10-30 07:43:43.9580,2018-10-30 07:52:14.5690,3214,Essex Light Rail,40.712774,-74.036486,3199,Newport Pkwy,40.728745,-74.032108,29610,Subscriber,1980,1
643635,241,2019-09-18 07:27:29.8460,2019-09-18 07:31:31.8160,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29494,Subscriber,1977,2

In [13]:
# copying index to a column to create a unique id for each trip
d1821['tripID'] = d1821.index
d1821 = d1821[['tripID', 'tripduration', 'starttime', 'stoptime', 'start station id',
    'start station name', 'start station latitude',
    'start station longitude', 'end station id', 'end station name',
    'end station latitude', 'end station longitude', 'bikeid', 'usertype',
    'birth year', 'gender']]
d1821.sample(5)

<ipython-input-13-74c1574048f0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1821['tripID'] = d1821.index

,tripID,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
637990,637990,6212,2019-09-14 16:37:59.9210,2019-09-14 18:21:32.6290,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3202,Newport PATH,40.727224,-74.033759,29605,Customer,1969,0
50715,50715,819,2018-04-24 14:07:50.7530,2018-04-24 14:21:29.7940,3187,Warren St,40.721124,-74.038051,3277,Communipaw & Berry Lane,40.714358,-74.066611,33624,Subscriber,1991,1
63899,63899,191,2018-04-08 11:35:04.8870,2018-04-08 11:38:16.5830,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,33576,Subscriber,1984,1
988377,988377,194,2020-09-07 18:15:35.2610,2020-09-07 18:18:49.5370,3203,Hamilton Park,40.727596,-74.044247,3272,Jersey & 3rd,40.723332,-74.045953,17415,Subscriber,1964,1
86697,86697,622,2018-05-02 19:27:23.3140,2018-05-02 19:37:46.1900,3209,Brunswick St,40.724176,-74.050656,3207,Oakland Ave,40.737604,-74.052478,29269,Subscriber,1984,1

In [14]:
# exporting full dataset
d1821.to_csv('bike_csvs/data1821NEW.csv', index=False)